    body {
        background-color: black;
        color: white;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    a {
        color: white;
    }

    .Profile_Pic {
        text-align: center;
    }
    .Profile_Pic img {
        border-radius: 1%;
        max-width: 80%;
    }

    .icon-wrap {
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }

    .icon-nav {
        max-width: 80%;
        list-style: none;
        padding: 0;
        display: flex;
        margin-top: 10px;
    }

    .icon-nav li {
        margin-right: 6px;
        margin-left: 6px;
    }

    .icon-nav img {
        height: clamp(25px, 6vw, 35px);

    }

    .icon-nav a {
        /* links in top right and dropdown */
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 18px;
        line-height: 25px;
        height: 10px;

    }

    .nav.open {
        display: block;
    }

    header {
        overflow: hidden;
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
    }

    .logo {
        display: flex;
        align-items: center;
        z-index: 2;
    }

    .logo-img {
        width: 64px;
        height: 64px;
        margin-right: 10px;
        z-index: 2;
    }

    .logo-title {
        margin: 0;
        z-index: 2;
        text-decoration: none;
        font-size: clamp(20px, 3vw, 30px);
    }

    .menu-toggle {
        display: none;
        background: none;
        border: none;
        font-size: 29px;
        cursor: pointer;
        z-index: 2;
        padding-left: 15px;
        padding-right: 15px;
    }

    .nav {
        display: flex;
        justify-content: space-between;
    }
    .nav a:hover {
        text-decoration: underline;
    }

    .nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .nav li {
        margin-right: 20px;
    }

    .link-header {
        color: white;
        text-decoration: none;
        font-size: 18px;
        line-height: 25px;
        border-radius: 4px;
    }

    /* Mobile styles */
    @media only screen and (max-width: 690px) {
        .menu-toggle {
            display: block;
            color: white;
            font-size: 50px;
            margin-right: 10px;
        }

        .nav {
            position: absolute;
            width: 100%;
            height: 0px;
            top: clamp(68px, 0.1vw, 90px);
            justify-content: center;
            background-color: #000000;
            visibility: collapse;
            transition: all 0.4s;
            z-index: 1;
            overflow: hidden;
            padding: 0px;
            border-bottom: 5px;
            border-color: white;
        }

        .open {
            visibility: visible;
            height: 45vh;
        }

        .nav ul {
            flex-direction: column;
            align-items: center;
            width: 100vw;
        }

        .nav li {
            margin: 20px 0;
        }

        .link-header {
            font-size: 24px;
        }



    }

    .service-title {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-weight: normal;
        vertical-align: top;
        position: sticky;
        top: 0px;
        background-color: #fff;
    }



    .HiddenLink {
        color: white;
    }

    .homepagelink {
        text-decoration: none;
    }

    .greyrow {
        background-color: #f1f1f1;
    }

    body {
        max-width: 1080px;
        min-width: 360px;
        width: 100%;
        margin: 0 auto !important;
        float: none !important;

    }

    h1 {
        padding-left: 15px;
        color: white;
        max-width: 800px;
    }

    p {
        padding-left: 15px;
        padding-right: 15px;
        color: white;
    }

    h2 {
        padding-left: 15px;
    }

    h3 {
        padding-left: 15px;
    }

    .code {
        max-width: 80vw;
        overflow-wrap: anywhere;
        overflow: auto;
    }
    .comparison-boxes {
      padding-left: 25px;
      padding-right: 25px;
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;
      justify-items: center; /* This centers the grid items horizontally */
    }
    
    .comparison-box {
      background-image: linear-gradient(to bottom, #323333, #646a6d);
      transition: background-image 0.4s, font-size 0.4s;
      border: 2px solid rgb(122, 122, 122);
      border-radius: 1rem;
      padding-bottom: 20px;
      text-align: center;
      width: 100%;
      max-width: 700px;
      min-height: 150px;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    .comparison-box:hover {
      background-image: linear-gradient(to bottom, #2b2c2c, #404648);
      font-size: large;
    }
    
    .comparison-box h2 {
      font-size: 1.2rem;
      margin-bottom: 10px;
      transition: font-size 0.4s;
    }
    
    .comparison-box:hover h2 {
      font-size: 21px;
    }